@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #ffffff;
    --second-bg-color: #afdaf3;
    --text-color: #ffffff;
    --header-color: #ECD06F;
    --bg-color: #01c7e1;
    --dark-color: #000000;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    background: var(--main-color);
    color: var(--text-color);
    font-weight: 400;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3%;
    background: var(--main-color);
    z-index: 100;
}

.navbar {
    margin: 0 10%;
    display: flex;
    align-self: center;
    justify-content: space-around;

}

.navbar a {
    font-size: 2.3rem;
    color: var(--dark-color);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: linear-gradient(rgba(45, 76, 93, 0.45), rgba(4, 47, 71, 0.45)), url('../images/back.jpg');
    background-position: center;

}

.home-content h1 {
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
    line-height: 7rem;
 
}

.home-content h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.home-img img {
    margin-top: 1rem;
    width: 30vw;
}

.heading-sec {
    margin-top: 5.5rem;
}

/* --- yachts --- */

.yachts {
    background: var(--bg-color);
}

.yachts h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}

.yachts-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: .5rem;
    padding: 3rem;
    border-radius: 2rem;
    background: var(--text-color);
    margin-bottom: 2rem;
}

.yachts-content {
    color: var(--dark-color);
    padding-left: 6rem;
    flex-grow: 1;
}

.yachts-content h2 {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.yachts-content li {
    font-size: 2.3rem;
    line-height: 3.5rem;
}

.yachts-content ul{
 padding-bottom: 2.5rem;
}

.yachts-img img {
    width: 40vw;
    border-radius: 2rem;
}

.yachts-price span {
    margin-right: 2rem;
    padding: 0.3rem 0.7rem;
    font-size: 2rem;
    border: solid 2px #000000;
    border-radius: 3rem;
}

/* --- trip --- */

.trip {
    background: var(--second-bg-color);
}

.trip-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: .5rem;
    padding: 3rem;
    border-radius: 2rem;
    background: var(--text-color);
    color: var(--dark-color);
    margin-bottom: 2rem;
}

.trip h2 {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.trip-content h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

p {
    font-size: 2rem;
    padding-left: 2rem;
}

.trip-content {
    flex-grow: 1;
}

.trip-map {
    padding: 0;
}

.trip-map div {
    margin-top: 1rem;
    width: 40vw;
}

#numberchar {
    display: inline-flex;
}

#numbericon {
    display: none;
}


/* --- media --- */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    section {
        padding: 1rem 3% 2rem;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.8rem;
    }
    .home-content h1 {
        padding-top: 10rem;
        font-size: 5rem;
    }
    .home-img img {
        width: 40vw;
        margin-top: 4rem;
    }

    .yachts-container {
        margin: 1rem;
        flex-direction: column;
    }

    .yachts-content p {
        font-size: 2.3rem;
    }
    .yachts-content h2 {
        font-size: 5rem;
    }
    .yachts-img img {
        width: 80vw;
    }

    .trip-container {
        flex-direction: column;
    }
    .trip-content p {
        font-size: 2.3rem;
    }
    .trip-content h2 {
        font-size: 5rem;
    }
    .trip-map div {
        width: 80vw;
    }
}

@media (max-width: 700px) {
    #numberchar {
        display: none;
    }
    #numbericon {
        display: inline-flex;
    }
    .navbar {
        margin: 0;
    }
}

