@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #ffffff;
    --second-bg-color: #afdaf3;
    --text-color: #ffffff;
    --header-color: #ECD06F;
    --bg-color: #01c7e1;
    --dark-color: #000000;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    background: var(--main-color);
    color: var(--text-color);
    font-weight: 400;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3%;
    background: var(--main-color);
    z-index: 100;
}

.navbar {
    margin: 0 10%;
    display: flex;
    align-self: center;
    justify-content: space-around;

}

.navbar a {
    font-size: 2.3rem;
    color: var(--dark-color);
}

.bxs-phone-call {
    padding-top: 4px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: linear-gradient(rgba(45, 76, 93, 0.45), rgba(4, 47, 71, 0.45)), url('../images/back.jpg');
    background-position: center;
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
    line-height: 7rem;
}

.home-content h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.home-img img {
    margin-top: 1rem;
    width: 30vw;
}

.heading-sec {
    margin-top: 5.5rem;
}

/* --- yachts --- */

.yachts {
    background: var(--bg-color);
}

.yachts h2 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.yachts-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: .5rem;
    padding: 3rem;
    border-radius: 2rem;
    background: var(--text-color);
    margin-bottom: 2rem;
}

.yachts-content {
    color: var(--dark-color);
    flex-grow: 1;
    width: 40vw;
}

.yachts-content h3 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.yachts-content li {
    font-size: 2.3rem;
    line-height: 3.2rem;
    padding-left: 4rem;
    text-align: center;
}

.yachts-content ul{
    padding: 2rem 0;
 list-style-type: none;
}

.yachts-img img {
    width: 40vw;
    border-radius: 2rem;
}

img.slider__img{
    width: 40vw;
}

.slider {
    width: 40vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 2rem;
}

.slider__btn_prev {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    position: absolute;
    left: 0;
    z-index: 2;
    opacity: 0.5;
    cursor: pointer;
}

.slider__btn_next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 10%;
    position: absolute;
    right: 0;
    z-index: 2;
    opacity: 0.5;
    cursor: pointer;
}

.slider__btn_prev:hover {
    opacity: 1;
}

.slider__btn_next:hover {
    opacity: 1;
}

.slider__line_1,
.slider__line_2 {
    width: 160vw;
    /* height: 256px; */
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.yachts-price {
    display: flex;
    justify-content: space-around;
}

.yachts-price span {
    padding: 0.3rem 0.7rem;
    font-size: 2rem;
    border: solid 2px #000000;
    border-radius: 3rem;
}

/* --- trip --- */

.trip {
    background: var(--second-bg-color);
}

.trip-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: .5rem;
    padding: 3rem;
    border-radius: 2rem;
    background: var(--text-color);
    color: var(--dark-color);
    margin-bottom: 2rem;
}

.trip h2 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.trip-content h3 {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

p {
    padding-top: 2rem;
    font-size: 2.3rem;
    padding-left: 2rem;
    text-align: center;
}

.trip-content {
    flex-grow: 1;
}

.trip-map {
    padding: 0;
}

.trip-map div {
    margin-top: 1rem;
    width: 40vw;
}

#numberchar {
    display: inline-flex;
}

#numbericon {
    display: none;
}

/*  ---  form  ---  */

.form {
    background: var(--bg-color) ;
    min-height: auto;
}

form {
    margin-top: 3rem;
    padding: 3rem;
    border-radius: 2rem;
    background: var(--text-color);
    color: var(--dark-color);
    margin-bottom: 2rem;
    font-size: 2.1rem;
    text-align: center;
}

fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

#phone {
    border: 1px solid var(--dark-color);
    border-radius: 7px;
    font-size: 18px;
    padding: 5px;
}

.btn {
    background-color: var(--header-color);
    border-radius: 7px;
    font-size: 18px;
    padding: 7px 21px;
    color: var(--dark-color)
}

input {
    max-width: 150px;
}

input::-webkit-input-placeholder {
    text-align: center;
    }

    input:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    }

    input::-moz-placeholder { /* Firefox 19+ */
    text-align: center;
    }

    input:-ms-input-placeholder {
    text-align: center;
    }

/* --- media --- */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    section {
        padding: 1rem 3% 2rem;
    }
    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.8rem;
    }
    .home-content h1 {
        padding-top: 10rem;
        font-size: 5rem;
    }
    .home-img img {
        width: 40vw;
        margin-top: 4rem;
    }

    .yachts-container {
        margin: auto auto 2rem;
        flex-direction: column;
    }

    .yachts-content li {
        font-size: 2.3rem;
    }
    .yachts-content h2 {
        font-size: 5rem;
    }
    .yachts-content h3 {
        font-size: 3rem;
    }
    .yachts-img img {
        width: 80vw;
    }
    img.slider__img{
        width: 80vw;
    }

    .slider {
        width: 80vw;
    }

    .trip-container {
        flex-direction: column;
        margin: auto auto 2rem;
    }
    .trip-content p {
        font-size: 2.3rem;
        padding-left: 0;
    }
    .trip-content h2 {
        font-size: 5rem;
    }
    .trip-content h3 {
        font-size: 3rem;
    }
    .trip-map div {
        width: 80vw;
    }
    .trip-map div {
        margin-top: 0;
    }
}

@media (max-width: 700px) {
    #numberchar {
        display: none;
    }
    #numbericon {
        display: inline-flex;
    }
    .navbar {
        margin: 0;
    }
    fieldset {
        flex-direction: column;
        row-gap: 2.2rem;
    }
    .yachts-content li {
        padding-left: 0;
    }
    .yachts-content {
        width: 80vw;
    }
}